<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :employee_lastname %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :employee_sex %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.time_field :start, id: :employee_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.time_field :end, id: :employee_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
