<!DOCTYPE html>
<html>
  <head>
    <title>Database</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<div>
    <nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark">
      <a><%= link_to "Calendar", root_path, class: "navbar-brand" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a><%= link_to "Home", index_path, class: "nav-link" %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eventos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a><%= link_to "Ver Eventos", meetings_path, class: "dropdown-item" %></a>
                <a><%= link_to "Crear Eventos", new_meeting_path, class: "dropdown-item" %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Empleados
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a><%= link_to "Ver Empleados", employees_path, class: "dropdown-item" %></a>
                <a><%= link_to "Crear Empleados", new_employee_path, class: "dropdown-item" %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Relaciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a><%= link_to "Ver Relaciones", meeting_employees_path, class: "dropdown-item" %></a>
                <a><%= link_to "Crear Relaciones", new_meeting_employee_path, class: "dropdown-item" %></a>
            </div>
          </li>
        </ul>
      </div>  
    </nav>
		<div class="container" style="padding-top: 10px;">
      <%= yield %>
    </div>
	</div>
</html>
